<a href="https://colab.research.google.com/github/marciadartup/Portif-lio/blob/master/M%C3%B3dulo_04_Limpeza_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

# Limpeza de Dados

O `Pandas` é uma das bibliotecas de Python mais utilizadas e mais poderosas no que tange tratamento de dados. É muito importante que saibamos manipular os dados a fim de tirar deles a maior quantidade possível de informação.

<center><img width="45%" src="https://image.freepik.com/free-vector/processing-concept-illustration_114360-1395.jpg"></center>

Entretanto, os dados do mundo real são bagunçados, mal formatados, possuem erros em sua aquisição, podem ser corrompidos, perdidos, trocados, além do próprio erro humano nos momentos de aquisição, armazenamento, alteração, formatação. Enfim, a lista de problemas é longa.

Por isso, é extremamente importante que saibamos como limpar esses dados, e transformá-los a fim de ter em nossas mão dados com os quais possamos trabalhar. Para isso, vamos ver como limpar e tratar nossos dados utilizando o Python, com a biblioteca Pandas, para que possamos ter em mãos dados prontos para uso.

## Exemplo 1

O primeiro exemplo que temos são dados que estão disponíveis dentro do portal [Inside Airbnb](http://insideairbnb.com). O Inside Airbnb não tem conexão oficial ou formal com o Airbnb. É uma iniciativa que coleta dados da plataforma e diponibiliza para o público, a fim de fomentar o segmento, e incentivar a comunidade a gerar análises e insights.

<center><img width="45%" src="https://image.freepik.com/free-photo/aerial-photo-rio-de-janeiro-surrounded-by-sea-hills-sunlight-brazil_181624-11362.jpg"></center>

Para o nosso notebook, vamos utilizar dados que estão disponíveis no portal sobre a cidade do [Rio De Janeiro](http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2020-06-19/data/listings.csv.gz).

In [2]:
# importando o pandas
import pandas as pd

# para não limitar a visualização do número de colunas
pd.set_option('display.max_columns', None)

In [3]:
# carregando os dados
df = pd.read_csv("http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2020-06-19/data/listings.csv.gz")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (61,62,94) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# visualizando as primeiras entradas
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20200619025839,2020-06-19,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",Discounts for long term stays. Please contact ...,"- Beautiful, sunny 2 bedroom (90 square meters...",Discounts for long term stays. Please contact ...,none,This is the one of the bests spots in Rio. Bec...,NaN,Excellent location. Close to all major attract...,The entire apartment is yours. It's like your ...,I will be available throughout your stay shoul...,Please leave the apartment in a clean fashion ...,NaN,NaN,https://a0.muscache.com/im/pictures/65320518/3...,NaN,68997,https://www.airbnb.com/users/show/68997,Matthias,2010-01-08,"Rio de Janeiro, State of Rio de Janeiro, Brazil",I am a journalist/writer. Lived for 15 years...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/67b13...,https://a0.muscache.com/im/pictures/user/67b13...,Copacabana,2.0,2.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,NaN,Rio de Janeiro,Rio de Janeiro,22020-050,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.96592,-43.17896,t,Condominium,Entire home/apt,5,1.0,2.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$191.00,NaN,NaN,$0.00,$250.00,2,$0.00,7,180,7,7,1125,1125,7.0,1125.0,4 months ago,t,0,6,36,287,2020-06-19,251,20,2010-07-15,2020-04-06,93.0,9.0,10.0,10.0,10.0,10.0,9.0,f,NaN,NaN,t,f,moderate,f,f,1,1,0,0,2.08
1,21280,https://www.airbnb.com/rooms/21280,20200619025839,2020-06-19,Renovated Modern Apt. Near Beach,Immaculately renovated top-floor apartment ove...,Immaculately renovated top-floor apartment in ...,Immaculately renovated top-floor apartment ove...,none,This is the best neighborhood in Zona Sul. Fo...,NaN,The new metro station is just a few steps away...,"This is an older ""Art Deco"" style building, so...",Someone will be there at check in and check ou...,This is a booking agreement for rental of a tw...,NaN,NaN,https://a0.muscache.com/im/pictures/60851312/b...,NaN,81163,https://www.airbnb.com/users/show/81163,Jules,2010-02-14,"Chicago, Illinois, United States",Hi I am Jules and I have a beautiful apartment...,within a few hours,100%,90%,f,https://a0.muscache.com/im/users/81163/profile...,https://a0.muscache.com/im/users/81163/profile...,Ipanema,0.0,0.0,"['email', 'phone', 'reviews', 'kba']",t,t,"Rio de Janeiro, RJ, Brazil",Ipanema,Ipanema,NaN,Rio de Janeiro,RJ,22420-010,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.98467,-43.19611,t,Apartment,Entire home/apt,6,2.0,2.0,4.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$424.00,"$4,945.00","$17,455.00","$2,647.00",$265.00,6,$0.00,5,30,5,5,30,30,5.0,30.0,4 months ago,t,19,49,79,93,2020-06-19,94,6,2014-02-14,2020-03-22,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,1,0,0,1.22
2,25026,https://www.airbnb.com/rooms/25026,20200619025839,2020-06-19,Beautiful Modern Decorated Studio in Copa,"Our apartment is a little gem, everyone loves ...",This newly renovated studio (last renovations ...,"Our apartment is a little gem, everyone loves ...",none,Copacabana is a lively neighborhood and the ap...,"For any stay superior to 15 days, an additiona...",At night we recommend you to take taxis only. ...,"internet wi-fi, cable tv, air cond, ceiling fa...","Only at check in, we like to leave our guests ...",Smoking outside only. Family building so pleas...,NaN,NaN,https://a0.muscache.com/im/pictures/3003965/68...,NaN,102840,https://www.airbnb.com/users/show/102840,Viviane,2010-04-03,"Rio de Janeiro, State of Rio de Janeiro, Brazil","Hi guys, We're a lovely team of 3 people:\r\n\...",within a day,70%,77%,f,https://a0.muscache.com/im/pictures/user/9e204...,https://a0.muscache.com/im/pictures/user/9e204...,Copacabana,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,NaN,Rio de Janeiro,Rio de Janeiro,22060-020,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.97712,-43.19045,t,Apartment,Entire home/apt,2,1.0,1.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$159.00,NaN,NaN,"$1,000.00",$250.00,2,$45.00,7,60,7,7,60,60,7.0,60.0,5 months ago,t,0,0,0,154,2020-06-19,238,7,2010-06-07,2020-02-15,94.0,9.0,9.0,9.0,10.0,10.0,9.0,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,3,3,0,0,1.95
3,31560,https://www.airbnb.com/rooms/31560,20200619025839,2020-06-19,NICE & COZY 1BDR - IPANEMA BEACH,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,none,Die Nachbarschaft von Ipanema ist super lebend...,NaN,"Bus, U-Bahn, Taxi und Leihfahrräder in der Nähe.","Die Urlauber dürfen das Badezimmer benutzen, d...",NaN,"So far, I haven't had any problems with guests...",NaN,NaN,https://a0.muscache.com/im/pictures/83114449/2...,NaN,135635,https://www.airbnb.com/users/show/135635,Renata,2010-05-31,"Rio de Janeiro, Rio de Janeiro, Brazil",I was born and raised in Rio de (Website hidde...,NaN,NaN,100%,t,https://a0.muscache.com/im/users/135635/profil...,https://a0.muscache.com/im/users/135635/profil...,Ipanema,1.0,1.0,"['email', 'phone', 'manual_online', 'facebook'...",t,t,"Rio de Janeiro, RJ, Brazil",Ipanema,Ipanema,NaN,Rio de Janeiro,RJ,22410-003,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.98302,-43.21427,t,Apartment,Entire home/apt,3,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$344.00,NaN,NaN,$0.00,$106.00,2,$53.00,2,1125,2,2,1125,1125,2.0,1125.0,3 months ago,t,0,0,0,0,2020-06-19,282,25,2010-07-11,2020-03-02,96.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.33
4,35636,https://www.airbnb.com/rooms/35636,20200619025839,2020-06-20,Cosy flat close to Ipanema beach,This cosy apartment is just a few steps away ...,"The location is extremely convenient, safe and...",This cosy apartment is just a few steps away ...,none,The apartment street is very quiet and safe ....,Please include the following information with ...,Metro stop just 5 blocks from our place. Buses...,NaN,NaN,"Dear Guest, Welcome! We hope you enjoy our apa...",NaN,NaN,https://a0.muscache.com/im/pictures/20009355/3...,NaN,153232,https://www.airbnb.com/users/show/153232,Patricia,2010-06-27,"San Carlos de Bariloche, Rio Negro, Argentina","I am Brazilian and Carioca graphic designer, b...",within a few hours,100%,85%,f,https://a0.muscache.com/im/users/153232/profil...,https://a0.muscache.com/im/users/153232/profil...,Ipanema,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,"Rio de Janeiro, Rio de Janeiro, Brazil",Ipanema,Ipanema,NaN,Rio de Janeiro,Rio de Janeiro,22081-020,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.98816,-43.19359,t,Apartment,Entire home/apt,2,1.5,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$482.00,NaN,"$12,313.00","$1,338.00",$219.00,2,$0.00,2,89,2,2,89,89,2.0,89.0,4 months ago,t,0,0,0,170,2020-06-20,181,23,2013-10-22,2020-03-15,94.0,10.0,9.0,10.0,10.0,10.0,9.0,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,1,1,0,0,2.23

Visualizando as entradas já podemos ter ideias das primeiras coisas que precisaremos arrumar. Na coluna `price`, por exemplo, temos um $, o que indica que o formato da coluna é `String`, e precisamos transformar em formato numérico para que possamos tirar vantagem dessa coluna.

In [5]:
# verificando as entradas da coluna price
df["price"]

0        $191.00
1        $424.00
2        $159.00
3        $344.00
4        $482.00
          ...
35726    $349.00
35727     $59.00
35728    $145.00
35729    $244.00
35730    $392.00
Name: price, Length: 35731, dtype: object

Entretanto, não podemos fazer isso diretamente, justamente por causa desse sinal. Por isso, precisamos manipular e limpar essa string, para aí sim transformar em float.

In [6]:
# tentando converter para float
float("$244.00")

ValueError: ignored

Para entendermos o processo que precisaremos fazer, vamos simplificar. Vamos criar uma variável e associar a ela uma string similar ao formato que encontramos no nosso data frame.

In [7]:
# associando o valor à variável
valor = "$244.00"

Agora, vamos utilizar o método `replace()` para substituir o cifrão por um espaço vazio, efetivamente removendo o cifrão da string.

Sem ele, podemos transformar essa string em float sem problemas.

In [8]:
# limpando a variável
valor = float(valor.replace("$", ""))
print(valor)

244.0

### Funções Lambda

De forma breve, funções Lambda são funções anônimas, que estão sujeitas a uma sintaxe mais restritiva, mas mais concisa do que as funções padrão do Python.

Quando vamos precisar reutilizar a função várias vezes no código, é preferível que façamos a construção de uma função padrão, mas para um objetivo mais direto, como é o caso de aplicarmos uma função específica apenas para fazer uma transformação ou limpeza em uma coluna, por exemplo, é bastante interessante se aproveitar do poder e simplicidade das funções lambda.

Para aprender mais sobre esse tipo de função, acesse [esse link](https://realpython.com/python-lambda/).

In [9]:
# "$244.00" ==> 244.00
def converter_str(minha_string):
    x = float(minha_string.replace("$", ""))
    return x

In [10]:
# criando função lambda 
lambda x: float(x.replace("$", ""))

Com a função pronta, vamos aplicar na coluna e verificar os resultados.

In [11]:
df["price"].apply(converter_str)

ValueError: ignored

In [12]:
# aplicando a função à coluna
df["price"].apply(lambda x: float(x.replace("$", "")))

ValueError: ignored

A função está funcionando, tudo está dentro dos conformes, mas aqui encontramos uma situação inesperada. Retornamos um erro ao tentar converter um valor que tem **mais de 3 dígitos** antes da vírgula, está acima da casa de milhares.

Isso acontece por causa da vírgula. Floats são divididos a partir do ponto `.`, e a vírgula retorna um erro.

Vamos tratar esse detalhe para continuar a limpeza.

In [13]:
# associando o novo valor à variável
valor = "$4,161.00"

In [14]:
# acrescentando um passo à função
float(valor.replace(",", "").replace("$", ""))

4161.0

Agora sim nossa função será capaz de entregar os valores no formato necessário para trabalhar com floats.

In [15]:
# aplicando a função sobre a coluna
df["price"].apply(lambda x: float(x.replace(",", "").replace("$", "")))

0        191.0
1        424.0
2        159.0
3        344.0
4        482.0
         ...
35726    349.0
35727     59.0
35728    145.0
35729    244.0
35730    392.0
Name: price, Length: 35731, dtype: float64

## Atenção!
O exemplo acima mostra como precisamos conhecer bem nossos dados. Não adianta nada saber todos os métodos, e especificidades de cada tipo de dados, de cada estrutura que podemos trabalhar com Python se nós não conhecemos nossos dados.

<center><img width="45%" src="https://image.freepik.com/free-photo/light-bulb-ideas-creative-diagram-concept_53876-92925.jpg"></center>

**Cada conjunto de dados terá problemas únicos**, que devem ser tratados de acordo com conhecimento sobre os dados, sobre sua aquisição, contexto, objetivo do projeto, além de todo o conhecimento técnico mencionado acima.

Por isso, sempre visualize as primeiras entradas, verifique as colunas, o tipo das colunas, os formatos precisam ser ajustados, as limpezas que precisam ser feitas, e tenha uma ideia, um panorama dos seus dados, para assim, tomar um curso de direção informado, direcionado e com um objetivo em mente.

## Exemplo 2

Para o segundo exemplo, utilizaremos dados disponibilizados no [Kaggle](https://www.kaggle.com/ravels1991/brasil-solicitaes-de-refugiado?) sobre a situação dos refugiados no Brasil.

<center><img width="45%" src="https://image.freepik.com/free-vector/world-refugee-day-event-flat-design_23-2148542417.jpg"></center>


Esse conjunto de dados foi criado e disponibilizado pelo [Comitê Nacional para os Refugiados](comitê nacional para os refugiados). e disponibilizados nessa plataforma a fim de promover transparência sobre a situação e encorajar cientistas e analistas de dados a analisarem os dados, tirarem insights e propor soluções que possam ajudar nessa situação delicada.

Os dados podem ser encontrados [aqui](https://www.kaggle.com/ravels1991/brasil-solicitaes-de-refugiado?).

Para facilitar o trabalho com os dados, você pode importá-lo a partir do link, exatamente como fizemos abaixo.

In [16]:
# carregando os dados
df = pd.read_excel("https://www.dropbox.com/s/69pajozeme6ezjc/solicitacoes-de-reconhecimento-da-condicao-de-refugiado.xlsx?dl=1")

In [17]:
# visualizando as primeiras entradas
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  12/2001  DF           1
1       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  01/2010  DF           1
2       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  DF           2
3       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  SP           2
4       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  08/2010  DF           1

Se comparado ao primeiro exemplo, esse conjunto de dados é mais simples. Aqui também vamos fazer manipulação de strings.

Vamos começar deixando apenas a primeira lentra da coluna `Tipo de Alertas e Rrestrições` em maiúsculo.

In [18]:
# verificando as entradas
df["Tipo de Alertas e Restrições"]

0        SOLICITAÇÃO DE REFÚGIO
1        SOLICITAÇÃO DE REFÚGIO
2        SOLICITAÇÃO DE REFÚGIO
3        SOLICITAÇÃO DE REFÚGIO
4        SOLICITAÇÃO DE REFÚGIO
                  ...
11651    SOLICITAÇÃO DE REFÚGIO
11652    SOLICITAÇÃO DE REFÚGIO
11653    SOLICITAÇÃO DE REFÚGIO
11654    SOLICITAÇÃO DE REFÚGIO
11655    SOLICITAÇÃO DE REFÚGIO
Name: Tipo de Alertas e Restrições, Length: 11656, dtype: object

Para realizar essa operação, vamos unir nosso conhecimento de manipulação de strings, utilizando o método `capitalize` dentro de uma função lambda.

In [19]:
# aplicando capitalize 
df["Tipo de Alertas e Restrições"].apply(lambda x: x.capitalize())

0        Solicitação de refúgio
1        Solicitação de refúgio
2        Solicitação de refúgio
3        Solicitação de refúgio
4        Solicitação de refúgio
                  ...
11651    Solicitação de refúgio
11652    Solicitação de refúgio
11653    Solicitação de refúgio
11654    Solicitação de refúgio
11655    Solicitação de refúgio
Name: Tipo de Alertas e Restrições, Length: 11656, dtype: object

É possível ver através do outuput que função retornou o resultado que queríamos. Entretanto, ainda não fizemos alteração alguma no dataset original.

É preciso associar à coluna do data frame o resultado da nossa operação sobre a mesma. Fazemos isso da seguinte forma:



```
df["coluna"] = df["coluna"].apply(lambda x: x.capitalize())
```

Dessa forma, associaremos à coluna os valores obtidos como output da função.

In [20]:
# aplicando a função e associando à coluna
df["Tipo de Alertas e Restrições"] = df["Tipo de Alertas e Restrições"].apply(lambda x: x.capitalize())

In [21]:
# verificando o resultado
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       Solicitação de refúgio   AFEGANISTÃO  12/2001  DF           1
1       Solicitação de refúgio   AFEGANISTÃO  01/2010  DF           1
2       Solicitação de refúgio   AFEGANISTÃO  03/2010  DF           2
3       Solicitação de refúgio   AFEGANISTÃO  03/2010  SP           2
4       Solicitação de refúgio   AFEGANISTÃO  08/2010  DF           1

Agora sim podemos ver que o data frame foi alterado, e obtivemos o resultado esperado.

Agora vamos fazer o mesmo com a coluna `Nacionalidade`.

In [22]:
# aplicando a função
df["Nacionalidade"] = df["Nacionalidade"].apply(lambda x: x.title())

In [23]:
# verificando o resultado
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       Solicitação de refúgio   Afeganistão  12/2001  DF           1
1       Solicitação de refúgio   Afeganistão  01/2010  DF           1
2       Solicitação de refúgio   Afeganistão  03/2010  DF           2
3       Solicitação de refúgio   Afeganistão  03/2010  SP           2
4       Solicitação de refúgio   Afeganistão  08/2010  DF           1

## Exemplo 3

Para nosso terceiro e último exemplo do notebook, utilizaremos dados relacionadas à taxa de homicídios no Brasil em 2017. Mais uma vez, os dados originais podem ser encontrados no [Kaggle](https://www.kaggle.com/diegomariano/taxa-de-homicdios-no-brasil-no-ano-de-2017).


<center><img width="30%" src="https://image.freepik.com/free-photo/bloody-print-hand-fingers-white-wall_1232-2036.jpg"></center>

Aqui, vamos nos deparar com um outro tipo de dificuldade, oriundo da origem dos dados. Precisamos estar atentos a isso também, pois podemos encontrar arquivos com diferentes tipos de encoding, separadores, símbolos, nomenclaturas, etc.

Mais uma vez, chamamos atenção para a importância de conhecer seus dados a fundo.

In [24]:
# importando os dados
df = pd.read_csv("https://www.dropbox.com/s/16nz0yikhma091u/homicidios_brasil_2017.csv?dl=1")

In [25]:
# verificando as primeiras entradas
df.head()

  UF;populacao;sigla;ano;homicidios;regiao
0            Acre;829619;AC;2017;516;norte
1    Alagoas;3375823;AL;2017;1813;nordeste
2           Amapá;797722;AP;2017;383;norte
3      Amazonas;4063614;AM;2017;1674;norte
4     Bahia;15344447;BA;2017;7487;nordeste

Apesar de termos utilizado o mesmo método de sempre para abertura do arquivo, aqui, ele veio mal organizado, em um formato que não conseguimos trabalhar com o Pandas.

Isso ocorre porque arquivos `csv`, como o nome sugere (*Comma Separated Values*), tem como separador padrão a vírgula `","`, e o arquivo que estamos manipulando está usando ponto e vírgula `"/"` como separador.

Esse é um problema bastante simples que pode ser resolvido de forma rápida e direta. Basta definir o separador do arquivo como "/"



```
df = pd.read_csv('url_do_arquivo', sep=";")
```

In [26]:
# carregando o arquivo com o separador correto
df = pd.read_csv("https://www.dropbox.com/s/16nz0yikhma091u/homicidios_brasil_2017.csv?dl=1", sep=";")

In [27]:
# verificando o data frame
df

                     UF  populacao      sigla   ano  homicidios        regiao
0                  Acre     829619         AC  2017         516         norte
1               Alagoas    3375823         AL  2017        1813      nordeste
2                 Amapá     797722         AP  2017         383         norte
3              Amazonas    4063614         AM  2017        1674         norte
4                 Bahia   15344447         BA  2017        7487      nordeste
5                 Ceará    9020460         CE  2017        5433      nordeste
6      Distrito Federal    3039444         DF  2017         610  centro-oeste
7        Espírito Santo    4016356         ES  2017        1521       sudeste
8                 Goiás    6778772          G  2017        2901  centro-oeste
9              Maranhão    7000229         MA  2017        2180      nordeste
10          Mato Grosso    3344544         MT  2017        1102  centro-oeste
11   Mato Grosso do Sul    2713147         MS  2017         659  centro-oeste
12         Minas Gerais   21119536         MG  2017        4299       sudeste
13                 Pará    8366628         PA  2017        4575         norte
14              Paraíba    4025558         PB  2017        1341      nordeste
15               Paraná   11320892         PR  2017        2759           sul
16           Pernambuco    9473266         PE  2017        5419      nordeste
17                Piauí    3219257         PI  2017         626      nordeste
18  Rio Grande do Norte    3507003         RN  2017        2203      nordeste
19    Rio Grande do Sul   11322895         RS  2017        3316           sul
20       Rio de Janeiro   16718956         RJ  2017        6416       sudeste
21             Rondônia    1805788         RO  2017         554         norte
22              Roraima     522636         RR  2017         248         norte
23       Santa Catarina    7001161         SC  2017        1066           sul
24            São Paulo   45094866  São Paulo  2017        4631       sudeste
25              Sergipe    2288116         SE  2017        1313      nordeste
26            Tocantins    1550194         TO  2017         557         norte

Acima, ao fazer uma verificação rápida no conjunto de dados conseguimos percerber que a sigla para os estados de Goiás (G) e São Paulo não estão corretamente lançadas na coluna `Sigla`. 

Precisamos consertar esse detalhe para que possamos fazer uma análise bem estruturada desses dados.

Para isso, vamos criar um dicionário que receberá como chave a entrada incorreta, e como valor, a correção.

Depois, utilizaremos o método `replace` para aplicar a correção.

In [28]:
# criando o dicionário para correção
correcao = {"G": "GO", "São Paulo": "SP"}

# aplicando a correção
df["sigla"] = df["sigla"].replace(correcao)

In [29]:
# verificando o resultado
df

                     UF  populacao sigla   ano  homicidios        regiao
0                  Acre     829619    AC  2017         516         norte
1               Alagoas    3375823    AL  2017        1813      nordeste
2                 Amapá     797722    AP  2017         383         norte
3              Amazonas    4063614    AM  2017        1674         norte
4                 Bahia   15344447    BA  2017        7487      nordeste
5                 Ceará    9020460    CE  2017        5433      nordeste
6      Distrito Federal    3039444    DF  2017         610  centro-oeste
7        Espírito Santo    4016356    ES  2017        1521       sudeste
8                 Goiás    6778772    GO  2017        2901  centro-oeste
9              Maranhão    7000229    MA  2017        2180      nordeste
10          Mato Grosso    3344544    MT  2017        1102  centro-oeste
11   Mato Grosso do Sul    2713147    MS  2017         659  centro-oeste
12         Minas Gerais   21119536    MG  2017        4299       sudeste
13                 Pará    8366628    PA  2017        4575         norte
14              Paraíba    4025558    PB  2017        1341      nordeste
15               Paraná   11320892    PR  2017        2759           sul
16           Pernambuco    9473266    PE  2017        5419      nordeste
17                Piauí    3219257    PI  2017         626      nordeste
18  Rio Grande do Norte    3507003    RN  2017        2203      nordeste
19    Rio Grande do Sul   11322895    RS  2017        3316           sul
20       Rio de Janeiro   16718956    RJ  2017        6416       sudeste
21             Rondônia    1805788    RO  2017         554         norte
22              Roraima     522636    RR  2017         248         norte
23       Santa Catarina    7001161    SC  2017        1066           sul
24            São Paulo   45094866    SP  2017        4631       sudeste
25              Sergipe    2288116    SE  2017        1313      nordeste
26            Tocantins    1550194    TO  2017         557         norte